body {
    margin: 0;
    padding: 0;
    color: #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    line-height: 1.6rem;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

section {
    padding: 50px 0 60px 0;
}


/*Header*/

header {
    margin: 22px 0;
    color: #000;
}

nav {
    font-size: 1rem;
}

.img-logo {
    width: 48px;
    height: 48px;
    margin-right: 14px;
    float: left;
}

.logo-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.logo-subtitle {
    line-height: 1.2;
}

.n-link {
    padding: 12px;
    color: #444444;
    text-transform: uppercase;
}

.n-link:hover {
    color: #ffffff;
    background-color: #1bbc9b;
    text-decoration: none;
}


/*Intro*/

h1 {
    font-size: 3.4375rem;
    font-weight: lighter;
}

.intro {
    color: #fff;
    background: url(../images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: lighter;
}

.title-intro {
    padding-top: 80px;
    padding-bottom: 40px;
}

.intro-text {
    padding-bottom: 50px;
    color: #bbb9b8;
    font-weight: lighter;
}

.button {
    width: 125px;
    height: 40px;
    padding-top: 6px;
    background-color: #1bbc9b;
    font-weight: bold;
    font-size: 0.8125rem;
    text-transform: uppercase;
    text-align: center;
}

.arrow {
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 40px;
}


/*Portfolio*/

h2 {
    font-size: 1.75rem;
}

title {
    margin-top: 50px;
    text-align: center;
}

.m-text {
    padding-top: 20px;
    color: #444444;
    font-size: 1rem;
}

.portfolio {
    width: 100%;
    max-width: none;
}

.text-black {
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

.title-black {
    color: #444444;
    text-align: center;
}

.title-white {
    color: #fff;
    text-align: center;
}

.p-button {
    position: relative;
    height: 37px;
    color: #fff;
    background-color: #1bbc9b;
    border: none;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 2.3125rem;
}

.p-button:hover {
    background-color: #16a086;
    cursor: pointer;
}

.icon {
    width: 80%;
    margin: 40px 20px;
    border-radius: 50%;
    align-items: center;
}

.card-inner {
    position: absolute;
    width: 74%;
    height: 78%;
    top: 41px;
    left: 33px;
    background-color: #50b693aa;
    border-radius: 100%;
    opacity: 0;
    transition: 0.5s linear;
}

.search {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 120px;
    margin-top: 90px;
    background-color: #496f62aa;
    border-radius: 100%;
    text-align: center;
    line-height: 2.5rem;
}

.p-title {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.p-sub {
    color: #fff;
    text-align: center;
}

.portfolio-card:hover .card-inner {
    opacity: 1;
}

.portfolio-card:hover .search {
    opacity: 1;
}


/*About*/

h6 {
    color: #444444;
    font-style: italic;
    text-align: center;
    font-size: 0.875rem;
}

.text-white {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.about-us {
    padding-bottom: 50px;
    background-color: #16a086;
    overflow: hidden;
}

.card {
    width: 20rem;
    border-radius: 0;
}

.card-title {
    color: #444444;
    text-align: center;
}

.card-text {
    padding-top: 20px;
    color: #444444;
    font-size: 0.875rem;
    text-align: justify;
}

.social {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 33px;
    height: 40px;
    width: 74%;
    background-color: #38a48faa;
    justify-content: space-between;
    text-align: center;
    opacity: 0;
    transition: 0.1s linear;
}

.card:hover .social {
    opacity: 1;
}

.fab {
    padding-top: 8px;
    padding-right: 20px;
    color: #fff;
    font-size: 27px;
}

.fab:last-child {
    padding-right: 5px;
}


/*Footer*/

textarea {
    margin: 0;
}

.contact-us {
    padding-bottom: 50px;
    background-color: #ecf0f1;
}

.contact-title {
    padding-top: 50px;
    font-size: 1.75rem;
}

.input {
    width: 100%;
}

.form-control {
    width: 100%;
    border: 2px solid #bec3c7;
    font-style: italic;
    border-radius: 0;
}

.contact-button {
    width: 110px;
    height: 40px;
    margin-top: 30px;
    padding-top: 9px;
    color: #fff;
    background-color: #1bbc9b;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.information-title {
    margin: 30px auto 20px auto;
    color: #444444;
}

.information {
    color: #444444;
    font-size: 0.875rem;
}

#name {
    width: 100%;
    height: 45px;
    padding-left: 15px;
    border: 2px solid #bec3c7;
    font-style: italic;
}

#email {
    width: 100%;
    height: 45px;
    padding-left: 15px;
    border: 2px solid #bec3c7;
    font-style: italic;
}


/*Copyright*/

.copyright {
    width: 100%;
    max-width: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #acb0b5;
    background-color: #2d3e50;
    font-size: 0.9rem;
}

.top {
    float: right;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #1bbc9b;
    background-color: #1bbc9b;
}

@media (max-width: 575.98px) {
    nav {
        font-size: 0.6rem;
    }
    .n-link {
        padding: 5px;
    }
    .logo {
        display: none;
    }
    .title-intro {
        padding-top: 10px;
    }
    .m-text {
        text-align: center;
    }
    .card {
        width: 15rem;
        margin-right: 40px;
    }
    .card-inner {
        position: absolute;
        width: 74%;
        height: 74%;
        top: 41px;
        left: 33px;
    }
    .p-button {
        margin-bottom: 15px;
    }
    .search {
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 95px;
        margin-top: 50px;
        text-align: center;
        background-color: #496f62;
        border-radius: 100%;
    }
    .form-control {
        width: 100%;
    }
    .footer-button {
        width: 150%;
    }
    .copyright {
        font-size: 0.7rem;
    }
    #name {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-inner {
        position: absolute;
        width: 73%;
        height: 71%;
        top: 41px;
        bottom: 0;
        left: 33px;
        right: 0;
    }
    .search {
        margin-top: 50px;
        text-align: center;
    }
    .p-title {
        margin-top: 40px;
        color: #fff;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    nav {
        font-size: 0.9rem;
    }
    .logo {
        font-size: 0.8rem;
    }
    .card {
        width: 12rem;
    }
    .card-inner {
        position: absolute;
        width: 69%;
        height: 62%;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 33px;
    }
    .search {
        margin-top: 30px;
        margin-left: 50px;
        text-align: center;
    }
    .p-title {
        margin-top: 10px;
        color: #fff;
        text-align: center;
    }
    .social {
        position: absolute;
        width: 59%;
        height: 40px;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 50px;
        line-height: 2.5rem;
    }
    .card:hover .social {
        opacity: 1;
    }
    .fab {
        padding-top: 5px;
        padding-right: 20px;
        color: #fff;
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        width: 16rem;
    }
    .social {
        top: 120px;
    }
    .card-inner {
        position: absolute;
        width: 72%;
        height: 69%;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 33px;
    }
    .search {
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 75px;
        margin-top: 30px;
        text-align: center;
        background-color: #496f62;
        border-radius: 100%;
    }
    .p-title {
        margin-top: 40px;
        color: #fff;
        text-align: center;
    }
}

@media (min-width:1200px) {
    .card-inner {
        position: absolute;
        width: 74%;
        height: 77%;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 35px;
    }
    .search {
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 120px;
        margin-top: 100px;
        text-align: center;
        background-color: #496f62;
        border-radius: 100%;
    }
    .p-title {
        margin-top: 40px;
        color: #fff;
        text-align: center;
    }
}